<html>
<style>

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
$(document).ready(function() {

  $('.carousel1').slick({
    slidesToShow: 4,
    dots: true,
    centerMode: true,
    arrows:true

  });
});
</script>
<div class="wrapper" style="height:100vh; ">
  <div style="display:flex;width:100%;justify-content:center;padding:10px">

      <div class="carousel1" style="width:95%;">

        <div><img width="300" src="https://picsum.photos/300/200?random=12"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=13"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=14"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=51"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=60"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=90"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=100"></div>
        <div><img width="300" src="https://picsum.photos/300/200?random=111"></div>
      </div>
</div>